* {
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url("../images/zen-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", serif;
}

.nav-bar {
  padding: 0 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background:#0838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.created-by {
  display: inline;
  font-size: 18px;
  padding-right: 12px;
  font-family: Arial, sans-serif;
}

.social {
  padding: 0 8px;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 39%;
}

.the-biz {
  width: 60%;
}

.just {
  padding-top: 20px;
}
